p {
    color:rgb(48, 44, 39);

}
body {
    background-color:rgb(232, 247, 247);
}

h1 {
    color:rgb(46, 42, 37);
}
h2 {
    color:black
}

table, td, th {
    color:rgb(46, 46, 36);
    border: 1px solid;
}